// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~flatpickr/dist/themes/dark.css';


.nav-sidebar>.nav-item.menu-open.active {
    background: #2196F3;
}
.radioboxes {
    height: 85px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
}