// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-ui/themes/base/slider.css';

.woocommerce ul.products.columns-3 li.product, .woocommerce-page ul.products.columns-3 li.product {
    min-height: 390px;
}
.woocommerce ul.products li.product .product-wrap {
    max-height: 320px;
    overflow: hidden;
}

.woocommerce .shop ul.products li.product .product-wrap {
    max-height: 225px;
    overflow: hidden;
}
.payment_method_selector:checked + label {
    font-weight: bold;
    color: #000;
}
.payment_box_collapse {
    display: none;
}
.payment_method_selector:checked + label + div {
    display: block;
}
#payment .payment_methods > .wc_payment_method > label {
    display: block;
}
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 0 !important;
}